.progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-ring {
    transform: rotate(-90deg);
  }
  
  .progress-ring-circle {
    transition: stroke-dashoffset 0.35s;
  }
  